* {
    font-family: "Roboto", sans-serif;
}
html{
    font-size: 62.5%;
}
main {
    max-width: 1200px;
    margin: 0 auto;
}
.principal {
    display: grid;
    height: auto;
    grid-template-columns: 2fr 3fr;
    /* ponel una sombra a este contenedor pero no en top*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 0 70px;
}
.principal img{
    width: 100%;
    height: 500px;
    object-fit: contain;
}
.principal__des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 40px 0;
}
.principal__des h1 {
    font-size: 6rem;
    margin: 0;
    font-weight: 900;
    padding-bottom: 10px;
}
.principal__des p{
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 20px;
}
.principal__des a{
    width: 150px;
    height: auto;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 10px 20px;
    background-color: #FC7521;
    border-radius: 25px;
    transition: all 0.3s ease;
}
.content {
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.services{
    padding: 40px 70px;
}
.services h2{
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
    color: grey;
}
.services__content{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.services__card{
    position: relative;
    width: 100%;
    height: 100%;
}
.services__card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services__card span{
    position: absolute;
    left: 0;
    bottom: 0;
    color: gainsboro;
    font-size: 2em;
    font-weight: 500;
    padding: 20px;
}
.services__card--video{
    grid-area: 1/1/3/3;
}

.menu{
    padding: 0px 70px;
}
.menu h2{
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
    color: grey;
}
.menu__content{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}
.menu__card{
    position: relative;
    width: 100%;
    height: 100%;
}
.menu__card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #FCEDEA;
    /* Borde solo en dos esquinas */
    border-radius: 25px 0 25px 0;
}
.menu__card span{
    position: absolute;
    height: 20px;
    width: 20px;
    margin: 10px;
    right: 0;
    top: 0;
    background-image: url(../images/heart.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}